manifest {
    name            = 'IDENTXX/wf-metabarcoding-generic-v2'
    author          = 'IDENTXX'
    description     = 'Generic Metabarcoding'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
}

params {
    // --- EPI2ME Pflicht-Parameter ---
    help = false
    version = false
    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs'

    // --- Unsere Parameter ---
    reads          = ''
    out_dir        = 'output'
    db_choice      = 'oomycetes_cox'
    custom_db_path = ''
    min_identity   = 90
    min_coverage   = 80
}

process {
    container = 'identxx/fusarium-toolbox:v1.0'
    cpus   = 4
    memory = '4 GB'
    errorStrategy = 'finish'
    
    withName: 'MAKEBLASTDB|BLASTN' {
        container = 'ncbi/blast:2.16.0'
    }
}
