manifest {
  name            = 'IDENTXX/wf-metabarcoding-generic'
  mainScript      = 'main.nf'
  nextflowVersion = '>=20.10.0'
}

params {
  reads          = null
  out_dir        = 'output'
  
  db_choice      = 'oomycetes_cox' 
  custom_db_path = null

  databases = [
    'oomycetes_cox' : '/mnt/d/Epi2Me_Datenbanken/oomycetes_cox_ref.fasta',
    'fusarium_tef'  : '/mnt/d/Epi2Me_Datenbanken/fusarium_TEF_ref.fasta'
  ]

  min_identity = 90
  min_coverage = 80
}

process {
  container = 'identxx/fusarium-toolbox:v1.0'
  cpus   = 4
  memory = '4 GB'
  errorStrategy = 'finish'
  
  withName: 'MAKEBLASTDB|BLASTN' {
      container = 'ncbi/blast:2.16.0'
  }
}
